<app-auth-layout title="Login" subtitle="Sign in to your DocShelf account">
  <form class="auth-form" (ngSubmit)="submit()">
    <ion-input
      label="Email"
      labelPlacement="stacked"
      fill="outline"
      type="email"
      [(ngModel)]="email"
      name="email"
      required
    />
    <div>
      <div class="password-heading">
        <span>Password</span>
        <a href="#" (click)="$event.preventDefault()">Forgot password?</a>
      </div>
      <ion-input fill="outline" type="password" [(ngModel)]="password" name="password" required />
    </div>
    <ion-button type="submit" expand="block" [disabled]="auth.loading()">
      {{ auth.loading() ? 'Signing in…' : 'Login' }}
    </ion-button>
    <p>Don't have an account? <a routerLink="/register">Register</a></p>
  </form>
</app-auth-layout>
